*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background: #f0f9f4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#333;
}

.app-container{
    max-width: 400px;
    width: 90%;
    background: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1{
    padding-bottom: 15px;
    font-weight: 700;
    color: #2ecc71;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px; 
}

input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button{
    padding: 10px;
    background: #2ecc71;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background: #27ae60;
}

#bookmark-list{
    list-style: none;
    padding: 0;
}

#bookmark-list li{
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bookmark-list a{
    color: #2ecc71;
    text-decoration: none;
}

#bookmark-list button{
    background: #e74c3c;
    padding: 5px 10px;
}

#bookmark-list button:hover{
    background: #c0392b;
}